body.a{
    margin:0;
    background-color:white;
}
nav.navigation-bar {
    display:flex;
    align-items:center;
    padding:5px;
    width:100%;
    background-color:rgb(245, 226, 192);
    position:fixed;
    top:0;    
    z-index:1000;
}
a.navigation-link {
    text-decoration: none;
    color:black;
    font-size: 20px;
    background-color:white;
    padding: 6px 25px;
    border:none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right:20px;
    font-family:"Poppins",serif;
}
a.navigation-link:hover {
    background-color:rgba(128, 128, 128, 0.493);
}
div.navigation-paragraph {
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap:50px;
    padding-left: 350px;
}
p.a{
    font-size:20px;
    font-family:"Poppins",serif;
    color:black;
    cursor:pointer;
}
div.detail-box1{
    display:flex;
    flex-direction:row;
    margin-top:200px;
    margin-left:110px;
}
img.detail-box-image1{
    width:555px;
}
div.para-box{
    display:flex;
    flex-direction:column;
    margin-left:0;
    margin-top:0;
}
p.detail-para1{
    font-size:15px;
    font-family:"Poppins",serif;
    margin-left:25px;
    margin-bottom:0;
    color:rgb(90, 90, 90);
    font-weight:650;
}
p.detail-para2{
    font-size:25px;
    font-family:"Raleway",serif;
    margin-left:25px;
    margin-top:0;
    font-weight:600;
}
p.detail-para3{
    font-size:15px;
    font-family:"Poppins",serif;
    margin-left:25px;
    margin-top:0;
}
div.detail-box2{
    display:flex;
    flex-direction:row;
    margin-left:110px;
    margin-top:160px;
}
p.detail-para4{
    font-size:15px;
    font-family:"Poppins",serif;
    color:rgb(90, 90, 90);
    font-weight:650;
}
p.detail-para5{
    font-size:25px;
    font-family:"Raleway",serif;
    margin-top:0;
    font-weight:600;
}
p.detail-para6{
    font-size:15px;
    font-family:"Poppins",serif;
    margin-top:0;
}
img.detail-box-image2{
    width:555px;
    margin-left:40px;
}
div.detail-box3{
    display:flex;
    flex-direction:row;
    margin-left:110px;
    margin-top:160px;
    margin-bottom:100px;
}
div.team-container{
    display:flex;
    width:100%;
    height:350px;
    margin-top:160px;
    margin-bottom:100px;
}
div.team-boxes{
    display: flex;
    margin-left:50px;
    gap:230px;
}
div.team-box{
    display:flex;
    flex-direction:column;
 
}
img.team-icon{
    width:100px;
    height:100px;
}
p.member{
    font-size:20px;
    font-family:"Raleway",serif;

}