body.a{
    background-color:black;
    margin:0;
}
nav.navigation-bar {
    display:flex;
    align-items:center;
    padding:5px;
    width:100%;
    background-color:rgb(245, 226, 192);
    position:fixed;
    top:0;    
    z-index:1000;
}
a.navigation-link {
    text-decoration: none;
    color:black;
    font-size: 20px;
    background-color:white;
    padding: 6px 25px;
    border:none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right:20px;
    font-family:"Poppins",serif;
}
a.navigation-link:hover {
    background-color:rgba(128, 128, 128, 0.493);
}
div.navigation-paragraph {
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap:50px;
    padding-left: 350px;
}
p.a{
    font-size:20px;
    font-family:"Poppins",serif;
    color:black;
    cursor:pointer;
}
div.internship-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
    margin-left:80px;
}
div.internship-box{
    display:flex;
    flex-direction:column;
    background-color:rgb(49, 48, 48);
    width:360px;
    height:280px;
    margin-top:150px;
    border:none;
    border-radius:20px;
}